fastapi
psycopg2-binary
python-multipart
PyPDF2
Pillow
pytesseract
sqlalchemy
uvicorn
python-jose[cryptography]
argon2-cffi
python-dotenv
pydantic[email]
reportlab
minio
numpy
joblib
httpx
groq
sentence-transformers
pdfplumber
pdf2image
easyocr
python-docx
jupyter
transformers
torch --index-url https://download.pytorch.org/whl/cpu
google-auth
