fastapi
psycopg2-binary
python-multipart
PyPDF2
sqlalchemy
uvicorn
python-jose[cryptography]
argon2-cffi
python-dotenv
pydantic[email]
reportlab
supabase
numpy
pandas
joblib
lightgbm
scikit-learn
httpx
google-genai