fastapi
psycopg2-binary
python-multipart
PyPDF2
Pillow
pytesseract
sqlalchemy
uvicorn
python-jose[cryptography]
argon2-cffi
python-dotenv
pydantic[email]
reportlab
minio
numpy
pandas
joblib
lightgbm
catboost
scikit-learn
httpx
groq
sentence-transformers
einops
pdfplumber
pdf2image
easyocr
python-docx
jupyter
matplotlib
seaborn
easyocr
transformers
torch
datasets
groq
google-auth